@media(min-width: 500px){
    .mainDestacados{
        background: url('../img/index/fondoIndex.jpg') #B5B5B5;
        background-size: cover;
        background-position: top center;
        padding: 7rem 3rem 5rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        .destacados__texto{
            h1{
                @include titulos(white, 4.2rem);
            }
            p{
                @include parrafo(1.7rem);
                color: $pColor;
            }
        }
        .videos{
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            width: 40rem;
            div{
                margin: 0 0 5rem 0;
                iframe{
                    width: 40rem;
                    height: 22rem;
                }
                h2{
                    font-family: 'Roboto', sans-serif;
                    color: $pColor;
                    padding-top: 1rem;
                    font-size: 2rem;
                    font-weight: 700;
                }
            }
        }
    }
}

@media(min-width: 1024px){
    .mainDestacados{
        padding: 7rem 5rem 5rem 5rem;
        .videos{
            width: 88rem;
            div{
                margin: 0 2rem 5rem 2rem;
            }
        }
    }
}

@media(min-width: 1600px){
    .mainDestacados{
        padding: 7rem 8rem 5rem 8rem;
        .videos{
            width: 132rem;
        }
    }
}