*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

@mixin texto {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: justify;
}

@mixin titulo($color){
    color: $color;
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.6);
}