*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

@mixin texto {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: justify;
}