
header{
    padding-top: 18rem;
    background: url('../img/header-XS.jpg') #000000;
    background-position: top center;
    grid-area: header;
    nav{
        font-family: 'Open Sans', sans-serif;
        font-weight: 650;
        font-size: 2rem;
        background-color: $bgColorNavFot;
        ul{
            border: 0.05rem white solid;
            border-left: 0;
            border-right: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0em;
            margin: 0;
            li{
                padding: 0.5rem 0rem 0.5rem 0rem;
                a{
                    color: $navColor;
                    transition: color 0.5s;
                    &:hover{
                        color: $navColorHover;
                    }
                }
            }
            .vivo{
                padding: 0.5rem 0rem 0.5rem 0rem ;
                a{
                    img{
                        transition: all 0.5s;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 500px){
    header{
    padding-top: 22rem;
    background: url('../img/header-S.jpg') #000000;
    background-position: top center;
    }
}

@media(min-width: 768px){
    header{
    padding-top: 28rem;
    background: url('../img/header.jpg') #000000;
    background-position: top center;
    }
}

@media(min-width: 1024px){
    header{
        nav{
            ul{
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 0.5rem 3rem 0.5rem 0rem;
                li{
                    padding: 0rem 1.5rem 0rem 1.5rem;
                }
                .vivo{
                    padding: 0rem 0rem 0rem 1rem;
                }
            }
        }
    }
}