@media(min-width: 500px){
    .grilla-index{
        display: grid;
        grid-template-areas: 
                "header"
                "mainIndex"
                "footer";
        main{
            background: url('../img/index/fondoIndex.jpg') #B5B5B5;
            background-position: top center;
            background-size: cover;
            grid-area: mainIndex;
            padding: 7rem 5rem 0rem 5rem;
            .mainIndex__grilla{
                display: grid;
                column-gap: 2rem;
                row-gap: 5rem;
                grid-template-areas:
                "titulo" 
                "sinopsis"
                "serpiente"
                "demo"
                "fotoCalaveras";
                justify-content: center;
                justify-items: center;
                h1{
                    @include titulo(white);
                    grid-area: titulo;
                }
                .sinopsis{
                    grid-area: sinopsis;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: 40rem;
                    img{
                        height: 6.5rem;
                    }
                    p{
                        @include texto;
                        color: $pColor;
                        padding-top: 2rem;
                        text-align: justify;
                    }
                }
                .serpiente{
                    padding: 2rem 2.5rem 0rem 0rem;
                    grid-area: serpiente;
                    align-self: center;
                    justify-self: center;
                }
                .demo{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-top: 4rem;
                    img{
                        height: 6.5rem;
                    }
                    iframe{
                        padding-top: 1rem;
                        width: 40rem; 
                        height: 25rem;
                    }
                }
                .fotoPose{
                    padding-top: 4rem;
                    grid-area: fotoCalaveras;
                    justify-self: center;
                    align-self: flex-end;
                }
            }
        }
    }
}

@media(min-width:768px){
    .grilla-index{
        main{
            padding: 7rem 6rem 0rem 6rem;
            .mainIndex__grilla{
                grid-template-areas: 
                "titulo titulo"
                "sinopsis sinopsis"
                "demo serpiente"
                "fotoCalaveras fotoCalaveras";
                .sinopsis{
                    width: 60rem;
                }
                .serpiente{
                    padding: 0;
                    align-self: end;
                }
                .demo{
                    padding: 0rem;
                    align-self: end;
                }
                .fotoPose{
                    padding: 0rem;
                }
            }
        }
    }
}

@media(min-width: 1024px){
    .grilla-index{
        main{
            .mainIndex__grilla{
                .sinopsis{
                    width: 60rem;
                }
            }
        }
    }
}

@media(min-width:1300px){
    .grilla-index{
        main{
            .mainIndex__grilla{
                grid-template-areas: 
                "titulo titulo"
                "sinopsis serpiente"
                "fotoCalaveras demo";
                align-items: center;
                .sinopsis{
                    width: 50rem;
                    img{
                        height: 8rem;
                    }
                }
                .serpiente{
                    padding: 0rem 0rem 0rem 5rem;
                }
                .demo{
                    padding-bottom: 2rem;
                    img{
                        height: 8rem;
                    }
                    iframe{
                        width: 50rem;
                        height: 30rem;
                    }
                }
            }
        }
    }
}

