@media(min-width: 300px){
    .grilla-mesaDeAlLado{
        display: grid;
        grid-template-areas: 
        "header"
        "mainMesa"
        "footer";
        main{
            background: url('../img/laMesaDeAlLado/fondoLaMesaDeAlLado.jpg') #000000;
            background-size: cover;
            background-position: top center;
            grid-area: mainMesa;
            padding: 7rem 1rem 5rem 1rem;
            .main-mesa__grilla{
                display: grid;
                grid-template-areas: 
                "mesa"
                "titulo-img"
                "carrusel";
                justify-items: center;
                row-gap: 2rem;
                .mesa{
                    grid-area: mesa;
                    width: 22rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h1{
                        @include titulos(white, 3rem, 2rem);
                    }
                    p{
                        color: white;
                        @include parrafo(1.4rem);
                        margin-bottom: 1.5rem; 
                    }
                }
                .tituloMesa-img{
                    grid-area: titulo-img;
                    align-self: center;
                    img{
                        height: 8rem;
                    }
                }
                .album{
                    width: 22rem;
                    grid-area: carrusel;
                    box-shadow: 10px -5px 8px 0px rgba(0,0,0,0.26);
                    -webkit-box-shadow: 10px -5px 8px 0px rgba(0,0,0,0.26);
                    -moz-box-shadow: 10px -5px 8px 0px rgba(0,0,0,0.26);
                }
            }
        }
    }
}


@media(min-width: 500px){
    .grilla-mesaDeAlLado{
        main{
            padding: 7rem 5rem 5rem 5rem;
            .main-mesa__grilla{
                row-gap: 3rem;
                .mesa{
                    width: 38rem;
                    h1{
                        @include titulos(white, 4.2rem, 2rem);
                    }
                    p{
                        @include parrafo(1.7rem);
                    }
                }
                .tituloMesa-img{
                    img{
                        height: 10rem;
                    }
                }
                .album{
                    width: 38rem;
                }
            }
        }
    }
}

@media(min-width: 768px){
    .grilla-mesaDeAlLado{
        main{
            .main-mesa__grilla{
                row-gap: 4rem;
                .mesa{
                    align-items: flex-start;
                    width: 60rem;
                }
                .album{
                    width: 60rem;
                }
            }
        }
    }
}

@media(min-width: 1024px){
    .grilla-mesaDeAlLado{
        main{
            .main-mesa__grilla{
                .mesa{
                    width: 85rem;
                }
                .tituloMesa-img{
                    img{
                        height: 13rem;
                    }
                }
                .album{
                    width: 85rem;
                }
            }
        }
    }
}

@media(min-width: 1300px){
    .grilla-mesaDeAlLado{
        main{
            .main-mesa__grilla{
                .mesa{
                    width: 91rem;
                }
                .album{
                    width: 90rem;
                }
            }
        }
    }
}