@media(min-width: 500px){
    .grilla-quienesSomos{
        display: grid;
        grid-template-areas: 
                "header"
                "mainQuienesSomos"
                "footer";
        main{
            background: url('../img/quienesSomos/fondoQuienesSomos.jpg') #bdc945;
            background-size: cover;
            background-position: top center;
            grid-area: mainQuienesSomos;
            padding: 7rem 3rem 5rem 3rem;
            .mainQuienesSomos__grilla{
                display: grid;
                grid-template-areas:
                "quienesSomos"
                "fotoCalavera"
                "integrantes";
                justify-items: center;
                justify-content: center;
                .quienesSomos{
                    padding: 0rem 0rem 4rem 0rem;
                    grid-area: quienesSomos;
                    width: 40rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    h1{
                        @include titulo(white);
                    }
                    p{
                        color: $pColor;
                        @include texto;
                        padding-top: 1rem;  
                    }
                }
                .fotoCalavera{
                    padding: 3rem 0rem 4rem 0rem;
                    grid-area: fotoCalavera;
                    img{
                        height: 20rem;
                    }
                }
                .integrantes{
                    padding: 6rem 0rem 4rem 0rem;
                    grid-area: integrantes;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .integrantes-titulo{
                        img{
                            height: 8rem;
                        }
                    }
                    .integrantes-grilla{
                        display: grid;
                        grid-template-areas: 
                        "caraNati datosNati"
                        "caraFlute datosFlute"
                        "caraFranco datosFranco"
                        "caraDami datosDami";
                        row-gap: 8rem;
                        column-gap: 2rem;
                        justify-items: center;
                        align-items: center;
                        padding-top: 5rem;
                        .fotoCara{
                            img{
                                height: 13rem; 
                            }
                        }
                        .caraNati{
                            grid-area: caraNati;
                            img{
                                height: 14rem;
                            }
                        }
                        .caraFlute{
                            grid-area: caraFlute;
                        }
                        .caraFranco{
                            grid-area: caraFranco;
                        }
                        .caraDami{
                            grid-area: caraDami;
                            img{
                                height: 13.5rem;
                            }
                        }
                        .datos{
                            width: 28rem;
                            h2{
                                font-family: 'Roboto', sans-serif;
                                color: white;
                                font-size: 2.2rem;
                                font-weight: 600;
                            }
                            a{
                                img{
                                    height: 5em;
                                    padding-bottom: 0.2rem;
                                    transition: all 0.3s;
                                    &:hover{
                                        transform: scale(1.1);
                                    }
                                }
                            }
                            p{
                                color: $pColor;
                                @include texto;
                                font-size: 1.4rem;
                            }  
                        }
                        .datosNati{
                            grid-area: datosNati;
                            }
                        .datosFlute{
                            grid-area: datosFlute;
                        }
                        .datosFranco{
                            grid-area: datosFranco;
                        }
                        .datosDami{
                            grid-area: datosDami;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 768px){
    .grilla-quienesSomos{
        main{
            padding: 7rem 5rem 5rem 5rem;
            .mainQuienesSomos__grilla{
                column-gap: 2em;
                grid-template-areas:
                "quienesSomos fotoCalavera"
                "integrantes integrantes";
                justify-items: start;
                align-items: center;
                .quienesSomos{
                    width: 40rem;
                    padding: 0;
                    align-items: flex-start;
                }
                .fotoCalavera{
                    padding: 3rem 0 0 2rem;
                }
                .integrantes{
                    .integrantes-titulo{
                        img{
                            height: 7rem;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1024px){
    .grilla-quienesSomos{
        main{
            .mainQuienesSomos__grilla{
                column-gap: 1rem;
                .quienesSomos{
                    width: 55rem;
                }
                .fotoCalavera{
                    align-self: end;
                }
                .integrantes{
                    .integrantes-titulo{
                        img{
                            height: 8rem;
                        }
                    }
                    .integrantes-grilla{
                        grid-template-areas: 
                        "caraNati datosNati caraFlute datosFlute"
                        "caraFranco datosFranco caraDami datosDami";
                        column-gap: 3.5rem;
                        .datos{
                            width: 25rem;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 1300px){
    .grilla-quienesSomos{
        main{
            .mainQuienesSomos__grilla{
                .quienesSomos{
                    width: 65rem;
                }
                .integrantes{
                    .integrantes-grilla{
                        .fotoCara{
                            img{
                                height: 16rem;
                            }
                        }
                        .datos{
                            width: 30rem;
                        }
                    }
                }
            }
        }
    }
}